.profile__link-new-card {
  position: relative;
  display: block;
  padding: 14px 64px;
  width: 150px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
}

.profile__link-new-card::before,
.profile__link-new-card::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 64px;
  width: 22px;
  height: 2.5px;
  background-color: #ffffff;
}

.profile__link-new-card::after {
  transform: rotate(90deg);
}

@media screen and (max-width: 750px) {
  .profile__link-new-card {
    width: 100%;
  }
  .profile__link-new-card::before,
  .profile__link-new-card::after {
    left: calc(50% - 11px);
  }
}

.profile__link-new-card:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.profile__link-new-card:hover.profile__link-new-card::before,
.profile__link-new-card:hover.profile__link-new-card::after {
  background-color: rgba(255, 255, 255, 0.6);
}
