.popup__title {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 29px;
  border: none;
}

@media screen and (max-width: 590px) {
  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }
}
