.profile {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

@media screen and (max-width: 900px) {
  .profile {
    padding: 0 5px;
  }
}

@media screen and (max-width: 750px) {
  .profile {
    padding: 0;
    flex-direction: column;
  }
}
