.profile__link-edit {
  margin-left: 17px;
  align-self: center;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
}

.profile__link-edit:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}

.profile__link-edit:hover.profile__vector > path {
  fill: rgba(255, 255, 255, 0.6);
}
/*@media screen and (max-width: 900px) {
  .profile__link-edit {
    width: 18px;
    height: 18px;
  }
}*/
