.footer__copyright {
  margin: 0;
  margin-bottom: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #545454;
}

@media screen and (max-width: 400px) {
  .footer__copyright {
    margin-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
  }
}
