.profile__specialization {
  margin: 0;
  max-width: 300px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 750px) {
  .profile__specialization {
    text-align: center;
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 400px) {
  .profile__specialization {
    max-width: 200px;
    font-size: 14px;
    line-height: 14px;
  }
}
