.popup__body {
  position: relative;
  z-index: 20;
  padding: 36px;
  width: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 590px) {
  .popup__body {
    padding: 25px 22px;
    width: 282px;
  }
}
