.profile__button-new-card {
  position: relative;
  display: block;
  padding: 14px 64px;
  width: 150px;
  height: 50px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  box-sizing: border-box;
  transition: border-color 0.5s, linear, 0.5s;
}

.profile__button-new-card::before,
.profile__button-new-card::after {
  position: absolute;
  content: "";
  top: 25px;
  left: 64px;
  width: 22px;
  height: 3px;
  background-color: #ffffff;
  transition: background-color 0.5s, linear, 0.5s;
}

.profile__button-new-card::after {
  transform: rotate(90deg);
}

.profile__button-new-card:hover,
.profile__button-new-card:focus {
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  outline: none;
}

.profile__button-new-card:hover.profile__button-new-card::before,
.profile__button-new-card:hover.profile__button-new-card::after,
.profile__button-new-card:focus.profile__button-new-card::before,
.profile__button-new-card:focus.profile__button-new-card::after {
  background-color: rgba(255, 255, 255, 0.6);
  outline: none;
}

@media screen and (max-width: 750px) {
  .profile__button-new-card {
    width: 88.12%;
  }
  .profile__button-new-card::before,
  .profile__button-new-card::after {
    width: 16px;
    height: 2px;
    left: calc(50% - 8px);
  }
}
