.profile__name {
  margin: 0;
  margin-bottom: 1rem;
  font-family: "Inter", Arial, sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 3.5rem;
  color: #ffffff;
}

@media screen and (max-width: 400px) {
  .profile__name {
    font-size: 27px;
    margin-bottom: 14px;
  }
}
