.card {
  max-width: 282px;
  background-color: #ffffff;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  .card {
    max-width: 100%;
  }
}

@media screen and (max-width: 385px) {
  .card {
    margin: 0 auto;
    max-width: 282px;
  }
}
